* {
  box-sizing: border-box;
  border: 1px dotted red;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
}

.header {
  height: 150px;
  width: inherit;
  border-bottom: 1px solid black;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 600px;
  text-align: center;
}

.menu-main-title {
  font-size: 50px;
  height: 100px;
  width: 80%;
}

.menu-type-titles {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 80%;
  gap: 60px;
}

.menu-type {
  font-size: 40px;
}

.menu-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  height: 80%;
  width: 80%;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-section-header {
  font-size: 40px;
}