:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(200, 116, 36);
}

@font-face {
 font-family: 'BlackBerryJam'; 
 src: url('./fonts/BlackBerryJam.ttf');
}  

@font-face {
  font-family: 'Brisket';
  src: url('./fonts/Brisket.otf');
}

@font-face {
  font-family: 'Sansation';
  src: url('./fonts/Sansation.ttf');
}
  
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100vh;
  font-family: Sansation;
}

.top-container {
  width: inherit;
  height: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: inherit;
  background-color: var(--primary-color);
  border-bottom: 1px solid antiquewhite;
}

.header-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 40px;
  margin-bottom: 10px;
  transform: rotate(-8deg);
}

.header-logo {
  font-family: BlackBerryJam;
  font-size: 70px;
  text-align: left;
  line-height: 45px;
}

.header-logo:hover {
  transform: rotate(8deg);
}

.line-1 {
  color: antiquewhite;
}

.line-2 {
  color: var(--secondary-color);
}

.nav-container {
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: antiquewhite;
  margin-right: 600px;
  gap: 50px;
}

.nav-btn {
  text-decoration: underline 0.05em rgba(255, 255, 255, 0);
  text-underline-offset: 6px;
  transition: text-decoration-color 400ms;
  cursor: pointer;
}

.nav-btn:hover {
  text-decoration: underline 0.05em var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.takeout-btn-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.takeout-btn {
  color: antiquewhite;
  background-color: var(--primary-color);
  height: 50px;
  width: 100px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid antiquewhite;
  border-radius: 20px;
  cursor: pointer;
}

.takeout-btn:hover {
  background-color: var(--secondary-color);
  opacity: 90%;
  transform: rotate(5deg);
}

.bottom-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: inherit;
}

.main {
  width: inherit;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 50px;
  color: antiquewhite;
  background-color: var(--primary-color);
  font-size: 15px;
  text-align: center;
  border-top: 1px solid antiquewhite;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.background-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 770px;
  background-color: var(--primary-color);
  background-blend-mode: multiply;
  overflow: hidden;
}

.background-img {
  object-fit: cover;
  opacity: 65%;
}

.welcome-text-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-text {
  font-family: Brisket;
  font-size: 80px;
  letter-spacing: 2px;
  color: antiquewhite;
}

.welcome-text:hover {
  font-size: 90px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 100%;
  text-align: center;
  gap: 40px 0;
}

.menu-main-title {
  font-size: 50px;
  height: auto;
  width: 80%;
  margin-top: 30px;
}

.menu-options {
  display: flex;
  justify-content: center;
  height: auto;
  width: 80%;
  gap: 80px;
}

.menu-type-btn {
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
}

.menu-type-btn:hover {
  background-color: var(--secondary-color);
  opacity: 80%;
  cursor: pointer;
}

.menu-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-bottom: 40px;
}

.menu-card {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.menu-card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.drinks-menu, .dessert-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.menu-item {
  width: 600px;
  color: darkred;
}

.menu-item-header {
  font-weight: bolder;
}

.menu-item-details {
  color: black;
  font-size: 18px;
}

.menu-item-price {
  font-weight: bolder;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-info {
  font-size: 25px;
}